* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 18, 94);

}

#main-container {

    display: flex;
    flex-direction: column;
    background-color: rgb(239, 234, 252);
    height: 700px;
    width: 1200px;
    gap: 3rem;
    flex-wrap: wrap;


}

.title-box {

    font-size: 50px;
    color: blue;
    margin-left: 10%;

}

.content-box {

    margin-left: 10%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.form-box {

    display: flex;
    flex-direction: column;

    width: 40%;
    height: auto;
    border-radius: 10px;
    gap: 0.5rem;


}

.form-box select {
    height: 40px;
    border-radius: 10px;
}

.form-box input {

    height: 40px;
    border-radius: 10px;
}

.btn-add {
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.chat-box {

    width: 50%;
    height: 200px;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    gap: 3rem;


}

.logo {
    width: 80px;
    height: 60px;
    margin-top: 5%;

}

.inner-box1 {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    margin-top: 5%;
    font-size: 20px;
}

.Priority {
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.inner-box2 {

    color: blueviolet;
    font-size: 20px;
    margin-top: 15px;

}

.inner-box3 {

    display: flex;
    gap: 2rem;
    margin-top: 10px;


}

.development {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;


}

.management {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;

}

.comment {
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}